@use "./_variables.scss" as v;

/*/////////////////////////////////////
  common parts
*//////////////////////////////////////

.btn {
  background: rgb(0,123,187);
  background: v.$bg-gradient;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 16px rgb(0 0 0 / .1);
}

.btn--normal {
  margin-top: 24px;
  padding: 16px;
  font-size: 14px;
  width: 100%;
  border-radius: 999px;
}

.btn-input-product {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgb(0,123,187);
  background: linear-gradient(-135deg, rgba(0,123,187,1) 0%, rgba(0,165,187,1) 100%);
  border: none;
  cursor: pointer;
  box-shadow: 0 0 16px rgb(0 0 0 / .1);
  
  & i::before {
    color: #fff;
    font-size: 18px;
  }
}


@media screen and (min-width: 768px) {
  .btn {
    transition: opacity .2s;

    &:hover {
      opacity: .4;
    }

    &:active {
      opacity: .8;
    }
  }
}

.horizontal-rule {
  margin-top: 48px;
  margin-bottom: 48px;
  border: none;
  border-top: 1px solid #ccc;
}

%country-flag-icon {
  width: 32px !important;
  aspect-ratio: 1;
  display: block;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid #ccc;
}
