@use "./_variables.scss" as v;

/*/////////////////////////////////////
  shopping list
*//////////////////////////////////////

.content-heading {
  color: v.$primary-light-blue;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 32px;
}

.shopping-list {
  display: flex;
  gap: 16px;
  border: 1px solid #eee;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 16px rgb(0 0 0 / .1);

  & + & {
    margin-top: 16px;
  }

  &__product-name {
    width: calc((100% - 64px) / 2);
    background: #f8f8f8;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #eee;
  }

  &__product-name-input {
    // あとでjsで行数に合わせて高さを変更できるようにする
    width: auto;
    background: transparent;
    text-align: center;
    resize: none;
    border: none;
    margin: 0;
    font-size: 16px;
  }

  &__product-price {
    text-align: right;
    padding: 16px 0;
  }

  &__product-price-table {
    width: 100%;
  }

  &__product-price-input {
    // width: 40px;
    width: 100%;
    border: none;
    text-align: right;
    font-size: 16px;
  }

  &__delete {
    // width: 16px;
    padding: 8px 16px;
    border-left: 1px solid #ccc;
    cursor: pointer;
  }
}

.shopping-list--sample {
  // position: relative;
  // opacity: .6;
}

.shopping-list__product-name--sample {
  position: relative;
}

.shopping-list__product-price--sample {
  position: relative;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
    // opacity: .6;
  }
  100% {
    transform: translateY(0);
  }
}

.edit-guide {
  position: absolute;
  width: 80px;

  &--product-name {
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--product-price {
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__inner {
    position: relative;
    animation-name: floatUpDown;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  &__text {
    width: 100%;
    text-align: center;
    font-size: 10px;
    background: v.$bg-gradient;
    padding: 2px 8px;
    border-radius: 999px;
    color: #fff;
    position: relative;
    z-index: 5;
    
  }

  &__arrow {
      display: block;
    content: "";
    width: 8px;
    height: 8px;
    background: v.$bg-gradient;
    // background: red;
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%) rotate(45deg);
    z-index: 0;
  }
}


.total {
  border: 1px solid v.$primary-blue;
  margin-top: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 16px rgb(0 0 0 / .1);

  &__title {
    flex: 1;
    text-align: center;
    font-size: 18px;
    color: v.$primary-blue;
    font-weight: bold;
  }

  &__result {
    flex: 1.5;
    background: rgb(0,123,187);
    background: linear-gradient(-135deg, rgba(0,123,187,1) 0%, rgba(0,165,187,1) 100%);
    padding: 16px;
  }
}

.result-table {
  // width: 100%;
  text-align: right;
  margin-left: auto;
  margin-right: 0;

  &__td {
    color: #fff;
    width: 1px;
    font-weight: bold;
    font-size: 18px;
  }

  &__td--large {
    font-size: 22px;
  }

  &__td:nth-last-of-type(1) {
    padding-left: 8px;
  }
}

.product-input {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}



.input-product-name {
  flex: 1;
  width: 1px;
  background: #eee;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 16px;
}

.input-product-price {
  flex: 1;
  width: 1px;
  background: #eee;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 16px;
}

.btn-delete-lists-wrapper {
  text-align: center;
}

.btn-delete-lists {
  display: inline-block;
  background: none;
  border: none;
  font-size: 14px;
  margin-top: 24px;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

