/*/////////////////////////////////////
  variables
*//////////////////////////////////////

$primary-blue: #007BBB;
$primary-light-blue: #00A5BB;
$bg-gradient: linear-gradient(135deg, rgba(0,123,187,1) 0%, rgba(0,165,187,1) 100%);