@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  // 007BBB
  // 00A5BB
}

*,
*::before,
*::after,
input,
textarea {
  box-sizing: border-box;
  color: #333;
}

.all-wrapper {
  max-width: 320px;
  margin: 48px auto;
}

body {
  // font-family: Dejavu Sans, Arial, Verdana, sans-serif;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #333;
}

.btn {
  background: rgb(0,123,187);
  background: linear-gradient(135deg, rgba(0,123,187,1) 0%, rgba(0,165,187,1) 100%);
  color: #fff;
  padding: 16px;
  font-size: 14px;
  width: 100%;
  border-radius: 999px;
  border: none;
  margin-top: 24px;
  cursor: pointer;
}

.horizontal-rule {
  margin-top: 48px;
  margin-bottom: 48px;
  border: none;
  border-top: 1px solid #ccc;
}

.site-title {
  color: #007BBB;
}

.site-lead {
  font-size: 14px;
  color: #999;
  text-align: center;
}

.set-currency-section {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.set-value {
  background: #eee;
  // padding: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  position: relative;

  &__decoration {
    color: #999;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    z-index: 0;
  }

  &__pulldown {
    appearance: none;
    background: transparent;
    border: none;
    font-size: 18px;
    padding: 16px 48px 16px 16px;
    width: 100%;
    text-align: right;
    z-index: 1;
    direction: rtl;
  }

  &__pulldown option {
    text-align: right;
  }

  &::after {
    display: inline-block;
    content: "\F282";
    font-family: "bootstrap-icons";
    // color: red;
    // background: red;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    z-index: 0;
  }


}

.btn-swap {
  text-align: center;
}

h2 {
  color: #00A5BB;
  margin-top: 0;
}
