@use "./_variables.scss" as v;
@use "./_reset.scss";
@use "./_common_parts.scss";
@use "./_header.scss";
@use "./_set_currency.scss";
@use "./_shopping_list.scss";
@use "./_country_lists_modal.scss";
@use "./_footer.scss";

@media print {
  * {
    color: #333 !important;
    background: #fff !important;
  }
}

/*/////////////////////////////////////
  all
*//////////////////////////////////////

.all-wrapper {
  max-width: 320px;
  margin: 48px auto;
}

